/* 完全隐藏滚动条 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE/Edge */
body {
  -ms-overflow-style: none;
}
body {
  padding-top: 72px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-bottom: 72px;
}
.navbar-brand {
  margin-left: -48px;
  visibility: hidden;
}
#bd-theme {
  display: none;
}
