node_modules
dist
build

.vscode
.idea

# Rust / Cargo
src-tauri/target/
src-tauri/Cargo.lock

# Tauri 构建产物
src-tauri/gen/
src-tauri/WixTools/

# 图标生成文件（如果使用自动生成）
src-tauri/icons/*.png
!src-tauri/icons/32x32.png
!src-tauri/icons/128x128.png
!src-tauri/icons/128x128@2x.png

# Installer 构建产物
src-tauri/installer/staging/
src-tauri/installer/dist/